---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPost from "../components/BlogPost.astro";
import BodyContainer from "../components/BodyContainer.astro";
import TableOfContents from "../components/TableOfContents/TableOfContents";
import generateToc from "../util/generateToc";
const { content, headings } = Astro.props;
const {
  title,
  description,
  publishDate,
  author,
  authorURL,
  heroImage,
  permalink,
  alt,
} = content;
---

<html lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <BodyContainer>
    <BlogHeader />
    <div class="wrapper">
      <BlogPost
        {title}
        {author}
        {authorURL}
        {heroImage}
        {publishDate}
        {alt}
        {headings}
      >
        <slot />
      </BlogPost>
    </div>
  </BodyContainer>
</html>
